/node_modules/**/*
.git
.vscode
.idea
.gitignore
.prettierrc
package-lock.json
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
/android
test-archive
.easignore
dist